<h2 id="city-name">{{name}}</h2>
<div class="weather-details">
  <p id="temperature">{{temp}}</p>
  <p id="description">{{descr}}</p>
  <p id="humidity">Вологість:{{humidity}}</p>
  <p id="wind">Вітер:{{wind}}</p>
</div>

<div class="weather-icon">
  <img id="weather-icon" src="{{icon}}" alt="{{descr}}" />
</div>